li a {
    color: darkblue;
}

body {
    background: white url("images/background.png") no-repeat center center fixed;
    background-size: cover;
    margin: 1rem;
    padding: 1rem;
    width: 95%;
}

nav {
    padding: 1rem;
}

h2 {
    padding: .5rem;
    margin-left: 3rem;
}

input {
    margin: .5rem;
}

fieldset {
    border: 0.0625rem solid #000;
    padding: 0.3125rem;
    margin: .5rem;
    border-radius: 0.3125rem;
}

header {
    border-radius: 0.3125rem;
}

footer {
    border-radius: 0.3125rem;
}

ul {
    list-style-type: none;
}

button {
    margin: .5rem;
    border-radius: 0.3125rem;
    border: none;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lavenderblush;
}

.button:hover {
    box-shadow: 0 0 .625rem rgba(0, 0, 0, 0.5);
}

input {
    margin: .5rem;
    border-radius: 0.3125rem;
    border: none;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lavenderblush;
}

.imgHeader {
    margin: 1rem;
    height: 5rem;
    width: 5rem;
    border-radius: 2.5rem;
}

