{% extends 'base_generic.html' %}

{% block title %}{{ item.item_title }} Details{% endblock %}

{% if user.is_authenticated %}
{% block content %}
<form method="post" action="{% url 'kayscrochetapp:add_to_cart' pk=item.pk %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add to Cart</button>
</form>
<form action="{% url 'kayscrochetapp:like' item.id %}" method="post">
{% csrf_token %}
    <fieldset>
        <legend><h1>{{ item.item_title }} Details</h1></legend>
            <div style="padding: .5rem">
                {% if item.image %}
                    <img src="{{ item.image.url }}" alt="{{ item.item_title }}">
                {% endif %}
                {% if item.image2 %}
                    <img src="{{ item.image2.url }}" alt="{{ item.item_title }}">
                {% endif %}
            </div>
            <div style="padding: .5rem">
                {% if item.image3 %}
                    <img src="{{ item.image3.url }}" alt="{{ item.item_title }}">
                {% endif %}
                {% if item.image4 %}
                    <img src="{{ item.image4.url }}" alt="{{ item.item_title }}">
                {% endif %}
            </div>
        <h4>Description:</h4>
        <p>{{ item.description }}</p>
        <h4>Price:</h4>
        <p>${{ item.price }}</p>
        <h4>Published On:</h4>
        <p>{{ item.pub_date }}</p>
        <h4>Click To Like:</h4>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in item.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
        <input type="submit" value="Like" style="display: flex; justify-content: center; align-items: center; vertical-align: middle; line-height: 0;">
        <button type="button" class="button" onclick="window.location.href = '{% url 'kayscrochetapp:results' item.id%}'">See Likes</button>
    </fieldset>
</form>
{% endblock %}
{% endif %}