{% extends 'base_generic.html' %}

{% block title %}Kay's Crochet{% endblock %}

{% block content %}
    <h2 style="text-transform: uppercase;   color: hsl(270, 50%, 60%);
          text-shadow: 2px 2px 6px rgba(100, 100, 150, 0.9); /* Darkened shadow color and closer position */
          background: linear-gradient(90deg, hsl(270, 50%, 60%), hsl(270, 50%, 80%));
          -webkit-background-clip: text;
          background-clip: text;">All Items For Sale:</h2>
        <!-- Search form -->
    <input style="padding: .5rem; margin-left: 3rem; height: 1.6rem;" type="text" id="search" placeholder="Search by item title">

    {% if latest_item_list %}
        <ul>
        {% for item in latest_item_list %}
            <li>
                <form>
                    <fieldset style="color: hsl(270, 50%, 60%); border: 0.0625rem solid hsl(270, 50%, 60%);">
                        <legend><h3><button style="height: 1.8rem;" onmouseover="this.style.boxShadow='0 0 10px rgba(0, 0, 0, 0.5)'"
                                            onmouseout="this.style.boxShadow='none'">
                            <a style="text-decoration: none; text-transform: uppercase;   color: hsl(270, 50%, 60%);
                                text-shadow: 2px 2px 6px rgba(100, 100, 150, 0.9); /* Darkened shadow color and closer position */
                                background: linear-gradient(90deg, hsl(270, 50%, 60%), hsl(270, 50%, 80%));
                                -webkit-background-clip: text;
                                background-clip: text;"
                                href="{% url 'kayscrochetapp:detail' item.id %}">{{ item.item_title }}</a></button></h3></legend>
                        <div style="padding: .5rem">
                            {% if item.image %}
                                <img src="{{ item.image.url }}" alt="{{ item.item_title|safe }}" title="{{ item.item_title }}"
                                     style="width: 40%; height: auto; border: 0.0625rem solid hsl(270, 50%, 60%); border-radius: 0.3125rem;">
                            {% endif %}
                            {% if item.image2 %}
                                <img src="{{ item.image2.url }}" alt="{{ item.item_title|safe }}" title="{{ item.item_title }}"
                                     style="width: 40%; height: auto; border: 0.0625rem solid hsl(270, 50%, 60%); border-radius: 0.3125rem;">
                            {% endif %}
                        </div>
                        <div style="padding: .5rem">
                            {% if item.image3 %}
                                <img src="{{ item.image3.url }}" alt="{{ item.item_title|safe }}" title="{{ item.item_title }}"
                                     style="width: 40%; height: auto; border: 0.0625rem solid hsl(270, 50%, 60%); border-radius: 0.3125rem;">
                            {% endif %}
                            {% if item.image4 %}
                                <img src="{{ item.image4.url }}" alt="{{ item.item_title|safe }}" title="{{ item.item_title }}"
                                     style="width: 40%; height: auto; border: 0.0625rem solid hsl(270, 50%, 60%); border-radius: 0.3125rem;">
                            {% endif %}
                        </div>
                        <h4>Description:</h4>
                        <p>{{ item.description }}</p>
                        <h4>Price:</h4>
                        <p>${{ item.price }}</p>
                        <div class="d-flex justify-content-left align-items-center">
                            <div>
                                {% if user.is_authenticated %}
                                    <a href="javascript:void(0);" class="like-icon text-dark" data-item-id="{{ item.id }}" title="Click To Like">
                                        <i class="fa fa-heart fa-2x" style="color: red;"></i>
                                    </a>
                                {% else %}
                                    <span class="like-icon" data-bs-toggle="modal" data-bs-target="#loginModal" title="Must Be Logged In To like">
                                        <i class="fa fa-heart fa-2x" style="color: red; cursor: pointer;"></i>
                                    </span>
                                {% endif %}
                            </div>
                            <div>
                                {% if item.no_of_likes == 0 %}
                                    <p id="like-count-{{ item.id }}"> 's 0</p>
                                {% elif item.no_of_likes == 1 %}
                                    <p id="like-count-{{ item.id }}"> 's {{item.no_of_likes}}</p>
                                {% else %}
                                    <p id="like-count-{{ item.id }}"> 's {{item.no_of_likes}}</p>
                                {% endif %}
                            </div>
                        </div>
                        <!-- Modal for login message -->
                        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="loginModalLabel">TO LIKE CLICK SIGN IN OR SIGN UP</h5>
                                    </div>
                                    <div class="modal-body">
                                        <button type="button" class="button ms-1" onmouseover="this.style.boxShadow='0 0 10px rgba(0, 0, 0, 0.5)'"
                                                onmouseout="this.style.boxShadow='none'" onclick="window.location.href = '{% url 'kayscrochetapp:signin' %}'"
                                                style="color: hsl(270, 50%, 60%);">SIGN IN</button>
                                        <button type="button" class="button ms-1" onmouseover="this.style.boxShadow='0 0 10px rgba(0, 0, 0, 0.5)'"
                                                onmouseout="this.style.boxShadow='none'" onclick="window.location.href = '{% url 'kayscrochetapp:signup' %}'"
                                                style="color: hsl(270, 50%, 60%);">SIGN UP</button>
                                    </div>
                                    <div class="modal-body">
                                        <p style="color: hsl(270, 50%, 60%);">Click outside the box to go back without sign in</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p style="margin-left: 3rem; padding: .5rem" >No items are available.</p>
    {% endif %}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        // Add an event listener to the search input field
        $('#search').on('input', function () {
            // Get the search query from the input field
            var searchQuery = $(this).val().toLowerCase();

            // Iterate through each item in the list
            $('ul li').each(function () {
                // Get the item title from the list item
                var itemTitle = $(this).find('h3 a').text().toLowerCase();

                // Show or hide the item based on the search query
                if (itemTitle.includes(searchQuery)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>
<script>
// Add click event listener to the like icon in index.html
document.addEventListener('DOMContentLoaded', function () {
    var likeIcons = document.querySelectorAll('.like-icon');
    likeIcons.forEach(function (likeIcon) {
        likeIcon.addEventListener('click', function () {
            // Get the item ID from the data attribute
            var itemId = likeIcon.dataset.itemId;

            // Make an AJAX request to the like_item view
            $.ajax({
                type: 'GET',
                url: '/like_item/?random=' + Math.random(),  // Adding random parameter to prevent caching
                data: {
                    'item_id': itemId,
                },
                success: function (data) {
                    // Update the like count and 's on the client side
                    var likeCountElement = document.querySelector('#like-count-' + itemId);

                    // Check if likeCountElement exists
                    if (likeCountElement) {
                        likeCountElement.innerHTML = ' <p id="like-count-' + itemId + '"> \'s ' + data.no_of_likes + '</p>';

                        // Log to verify the updated value
                        console.log('Updated like count:', data.no_of_likes);

                        // Force a DOM update
                        likeCountElement.innerHTML = likeCountElement.innerHTML;
                    } else {
                        console.log('likeCountElement not found.');
                    }
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        });
    });
});
</script>
{% endblock %}

