{% extends 'base_generic.html' %}

{% block title %}Sign In - Kay's Crochet{% endblock %}

{% block content %}
    <div class="flex-grow-1">
        <form method="post">
            {% csrf_token %}
            <fieldset>
                <legend>SIGN IN TO KAY'S CROCHET:</legend>
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                {{ form.as_p }}
                <button onmouseover="this.style.boxShadow='0 0 10px rgba(0, 0, 0, 0.5)'" onmouseout="this.style.boxShadow='none'" type="submit">SIGN IN</button>
                <p>Create an Account:</p>
                <div>
                    <button type="button" class="button" onmouseover="this.style.boxShadow='0 0 10px rgba(0, 0, 0, 0.5)'" onmouseout="this.style.boxShadow='none'" onclick="window.location.href = '{% url 'kayscrochetapp:signup' %}'">SIGN UP</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    <script>
        // Automatically close error messages after 5 seconds (adjust as needed)
        setTimeout(function() {
            document.querySelector('.messages').style.display = 'none';
        }, 3000);
    </script>
{% endblock %}
