<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <!-- for different devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'kayscrochetapp/style.css' %}">
</head>
<body>
<div>
    <h1>Sign In</h1>
    <form method="post">

        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign In</button>
        <p>Click Sign Up to Create an Account</p>
        <div>
            <button type="button" class="btn btn-primary" onclick="window.location.href = '{% url 'kayscrochetapp:signup' %}'">Sign Up</button>
        </div>
    </form>
</div>
</body>
</html>