{% extends 'base_generic.html' %}

{% block title %}Sign Up - Kay's Crochet{% endblock %}

{% block content %}
    <div class="flex-grow-1">
        <form method="post">
            <fieldset>
                <legend>SIGN UP FOR KAY'S CROCHET:</legend>
                {% csrf_token %}
                {{ form.as_p }}
                <button onmouseover="this.style.boxShadow='0 0 10px rgba(0, 0, 0, 0.5)'" onmouseout="this.style.boxShadow='none'" type="submit">Sign Up</button>
                <p>Click Sign In if You Have Already Created an Account</p>
                <div>
                    <button type="button" class="button" onmouseover="this.style.boxShadow='0 0 10px rgba(0, 0, 0, 0.5)'" onmouseout="this.style.boxShadow='none'" onclick="window.location.href = '{% url 'kayscrochetapp:signin' %}'">Sign In</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
