{% extends 'base_generic.html' %}

{% block title %}Sign In - Kay's Crochet{% endblock %}

{% block content %}
    <div class="flex-grow-1">
        <form method="post" id="signin-form">
            <fieldset>
                <legend>SIGN IN TO KAY'S CROCHET:</legend>
                {% csrf_token %}
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                {{ form.as_p }}
                <button onmouseover="this.style.boxShadow='0 0 10px rgba(0, 0, 0, 0.5)'" onmouseout="this.style.boxShadow='none'" type="button" onclick="submitForm()">SIGN IN</button>
                <p>Create an Account:</p>
                <div>
                    <button type="button" class="button" onmouseover="this.style.boxShadow='0 0 10px rgba(0, 0, 0, 0.5)'" onmouseout="this.style.boxShadow='none'" onclick="window.location.href = '{% url 'kayscrochetapp:signup' %}'">SIGN UP</button>
                </div>
            </fieldset>
        </form>
    </div>
    <script>
        function submitForm() {
    // Include CSRF token in headers
    const csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

    fetch('{% url 'kayscrochetapp:signin' %}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken,
        },
        body: JSON.stringify({
            username: document.getElementById('id_username').value,
            password: document.getElementById('id_password').value,
        }),
    })
    .then(response => {
        if (response.ok) {
            return response.json();
        } else {
            // If the response is not okay, return the entire response (HTML page)
            return response.text().then(html => {
                throw new Error(html);
            });
        }
    })
    .then(data => {
        // Check for success in the response
        if (data.success) {
            // Handle the successful login, e.g., redirect
            window.location.href = data.redirect_url;
        } else {
            // Handle unsuccessful login, display an error message, etc.
            console.error('Login failed');
        }
    })
    .catch(error => {
        // This catch block will catch errors thrown in the promise chain
        console.error('Error:', error);
        // You can handle the error here, for example, display an alert or console log the error message
    });
}

    </script>
{% endblock %}
